{
  "name": "firebird-typeorm",
  "version": "0.2.45",
  "description": "Data-Mapper ORM for TypeScript, ES7, ES6, ES5. Supports MySQL, Firebird, PostgreSQL, MariaDB, SQLite, MS SQL Server, Oracle, MongoDB databases.",
  "main": "./index.js",
  "module": "./index.mjs",
  "types": "./index.d.ts",
  "scripts": {
    "test": "rimraf ./build && tsc && mocha --file ./build/compiled/test/utils/test-setup.js --bail --recursive --timeout 60000 ./build/compiled/test",
    "test-fast": "mocha --file ./build/compiled/test/utils/test-setup.js --bail --recursive --timeout 60000 ./build/compiled/test",
    "compile": "rimraf ./build && tsc",
    "watch": "./node_modules/.bin/tsc -w",
    "package": "gulp package",
    "pack": "gulp pack",
    "lint": "eslint -c ./.eslintrc.js src/**/*.ts test/**/*.ts sample/**/*.ts",
    "deploy": "npm publish"
  },
  "author": "Rafael de Souza",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/rafael-desouza/typeorm"
  },
  .........................
  "publishConfig": {
    "registry": "https://npm.pkg.github.com/@rafael-desouza"
  }
}
